html {
  font-size: 62.5%;
}

body {
  background-color: #f4d04e;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding: 24px;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 384px;
  height: 522px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 6px 6px 0 #000;
  transition: transform 0.2s ease;
}

.card__image {
  margin: 24px;
  width: 336px;
  height: auto;
  border-radius: 10px;
}

.card__date {
  font-size: 1.4rem;
  font-family: "Figtree";
}

.card-content {
  margin-left: 24px;
}

.card__category {
  display: inline-block;
  width: 8.2rem;
  height: 2.9rem;
  background-color: #f4cd50;
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  align-content: center;
  border-radius: 4px;
}

.card__date {
  font-size: 1.4rem;
}

.card__title {
  font-size: 2.4rem;
  color: #111111;
  transition: color 0.3s ease;
  cursor: pointer;
}

.card__title:hover {
  color: #f4d04e;
}

.card__description {
  width: 33.6rem;
  color: #6b6b6b;
  font-size: 1.6rem;
  font-family: "Figtree";
  line-height: 150%;
  font-weight: 400;
}

.card__author {
  display: flex;
  gap: 15px;
}
.card__author-avatar {
  width: 32px;
  height: 32px;
}
.card__author-name {
  align-content: center;
  font-weight: bold;
  font-size: 1.4rem;
}
